.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 520px;
  margin: 0 auto;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 520px;
  margin: 0 auto;
}

.loadingInfo {
  font-style: normal;
  text-align: center;
}

.loadingPrompt {
  font-style: italic;
  text-align: center;
}

.orderNumber {
  font-family: 'Iceland', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 120px;
  text-align: center;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
  color: #F2F2F3;
}

.title {
  text-align: center;
}

.iconContainer {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBackground {
  width: 120px;
  height: 120px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(128, 26, 179, 0) 0%, rgba(76, 76, 255, 0.25) 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
}

.additionalInfo {
  text-align: center;
  margin-top: 8px;
}

.icon {
  width: 107px;
  height: 102px;
}