.preloaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
  margin: 0 auto;
  text-align: center;
}

.loaderWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulseEffect {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(76, 76, 255, 0.2);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

.loadingText {
  margin-top: 20px;
  font-size: 24px;
  font-family: 'JetBrains Mono', Arial, sans-serif;
  line-height: 30px;
  color: #F2F2F3;
}

.errorText {
  margin-top: 20px;
  font-size: 24px;
  font-family: 'JetBrains Mono', Arial, sans-serif;
  line-height: 30px;
  color: #FF0000;
}